@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HASAN shobri</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">123 Web apps with ASP.NET Core</a>.</p>
</div>

